<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/be4a2716-0ada-4e46-81cf-c36f831f8ed3/resourcegroups/ato_group/providers/Microsoft.Web/sites/adny</ResourceId>
    <ResourceGroup>ato_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://adny.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>16dd71b8-7209-4b73-8513-6c3c6bdde9dc</ProjectGuid>
    <PublishUrl>https://adny.scm.azurewebsites.net/</PublishUrl>
    <UserName>$adny</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>